[buildout]
develop = . customdoctests
parts = py demo selenium dojo test testserver selenium.jar
versions = versions
extends = versions.cfg
extensions = zc.buildoutsftp


[py]
recipe = zc.recipe.egg
eggs = zc.dojoform [test]
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = zc.dojoform [test]

initialization =
   import zc.dojoform.tests
   zc.dojoform.tests.home = '${buildout:directory}'

[testserver]
recipe = zc.recipe.egg
eggs = zc.dojoform [test]
initialization = ${test:initialization}
arguments = 9000, False
entry-points = testserver=zc.dojoform.tests:start_bobo_server


[application]
recipe = zc.zope3recipes:application
servers = zserver
eggs = zc.dojoform [test]
site.zcml = <include package="zc.dojoform" file="selenium.zcml" />

[demo]
recipe = zc.zope3recipes:instance
application = application
zope.conf =
  devmode on
  <zodb>
    <demostorage>
    </demostorage>
  </zodb>
  <server http0>
    address 39857
    type WSGI-HTTP
  </server>

[selenium]
recipe = zc.recipe.egg:scripts
eggs = ${application:eggs}
script = selenium
entry-points = selenium=zc.selenium.selenium:main
initialization =
  sys.argv.insert(1, '${demo:run-directory}/zope.conf')

[selenium.jar]
recipe = gocept.download
url = http://selenium.googlecode.com/files/selenium-server-standalone-2.0b2.jar
md5sum = 330a21b2fec2fc81c4d673712cdd4bca

[dojo]
recipe = gocept.download
strip-top-level-dir = true

url =
 http://download.dojotoolkit.org/release-1.5.0/dojo-release-1.5.0-src.tar.gz
md5sum = 7aaa2ea07d5295c2d7822c98e0085a34

# url =
#   http://download.dojotoolkit.org/release-1.4.3/dojo-release-1.4.3-src.tar.gz
# md5sum = e16832c6adad3ebe59a7d59f03861e36

[env.js-dist]
recipe = gocept.download
url = http://github.com/thatcher/env-js/tarball/1.2.13
md5sum = 9b78fbdc4df8d2154289423235d7ddd2
strip-top-level-dir = true

[envjs]
recipe = cp.recipe.cmd
install_cmd =
   echo ${env.js-dist:location}
   rm -rf ${buildout:parts-directory}/envjs
   cd ${buildout:parts-directory}/env.js-dist
   tar xzf 1.2.13
   cd t*
   make
   cp -r dist ${buildout:parts-directory}/envjs
