
.zc-fields,.zc-fieldset
{
  border: 1px solid;
  margin: .5em; 
  overflow: hidden;
  }
.zc-actions
{
  border: 1px solid; 
  margin: .5em;
  text-align: center;
}
.zc-form .zc-field
{
  margin: 1em;
  overflow: hidden;
  }
.zc-form .zc-label { font-weight: bold; }
.zc-form .zc-label:after { content: ": "; }
.zc-form .required .zc-label:after { content: " (required): "; }
.zc-form .zcSmallField { display: inline; }




/* Bool */
.zc-form .zope-schema-Bool
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  }
.zc-form .zope-schema-Bool .zc-widget
{
  position: absolute;
  top: 0;
  left: 0;
  }
.zc-form .zope-schema-Bool .zc-label
{
  padding-left: 2em;
  width: 90%;
}
.zc-form .zope-schema-Bool .zc-label:after { content: ""; }

.zc-form .zope-schema-Int .zc-widget { width: 9em; }


/* Text(Area)) */
.zope-schema-Text { width: 100%; }
.zc-form .zope-schema-Text .zc-label { display: block }
.zc-form .zope-schema-Text .zc-widget
{
  width: 92%;
  margin-left: 2%;
 }


.zc-form .zc-left-fields
{
  width: 57%;
  overflow: auto;
  float: left;
  }

.zc-form .zc-right-fields
{
  width: 40%;
  float: right;
  /* overflow: auto; */
  }
